@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after{
  box-sizing: inherit;
}
body{
font-family: 'Lato', sans-serif;
margin: 0 auto;
}

.banner{
  position: relative;
  text-align: left;
  font-size: 0.5rem;
  max-height: 75vh;
  overflow: hidden;
  clear: both;
}
.banner img{
  width: 100%;
  display:block;
}
.bannercontent{
  position: absolute;
  bottom: 2em;
  color: #0089a1;
  width: 100%;
  bottom: -6%;
  font-size: 1.5em;
  padding-left: 10px;
}
.bannercontent img{
  width: 40%;
  margin: -1em 1em -5em 2em;
  text-align: center;
  border: none;
}
h1{
  color: #0089a1;
  margin: 0 auto;
  padding: 2em;
  font-size: 1em;
}
h2{
  padding-top: 1.2em;
  font-size: 1.5em;
}

.about{
  background-image: url("../images/abouticon.svg");
  background-size: 70px auto;
  background-repeat: no-repeat;
  background-position: center 1em;
  background-color: #f18895;
  padding: 2em 1em 1em 1em;
  margin: 0px;
  color: #27273a;
  text-align: center;
}
.portfolio{
  background-image: url("../images/portfolioicon.svg");
  background-size: 70px auto;
  background-repeat: no-repeat;
  background-position: center 1em;
  background-color: white;

  padding: 2em 1em 1em 1em;
  color: #27273a;
  text-align: center;
  padding-bottom: 1em;
}
.pepsi{
  width: 85%;
}
.pepsidiv{
  width: 50%;
  float: left;
  padding-bottom: 1em;
}
.tealumbrella{
  width: 85%;
}
.tealumbrelladiv{
  width: 50%;
  float: left;
    padding-bottom: 1em;
}
.caption{
  margin: 0;
}

.contact{
  background-image: url("../images/contacticon.svg");
  background-size: 70px auto;
  background-repeat: no-repeat;
  background-position: center 1em;
  background-color: #9fd2d5;
  padding: 2em 1em 1em 1em;
  color: #27273a;
  text-align: center;
  clear: both;
}
a{
  color: #ef8c93;
  padding: 5px;
  margin-top: 1em;
  text-decoration: none;
  transition: all 250ms ease-out;
}
a:hover{
  color:#0089a1;
  transform: scale(1.2);
}
.socialmedia{
  width: 15%;
  margin: -0.5em;
}
.contact img{
  transition: all 250ms ease-out;
  border: 0;
}

footer{
  background-color: #0089a1;
  text-align: center;
}
footer img{
  width: 120px;
  text-align: center;
}
@media only screen and (min-width: 20em){
  .bannercontent h1{
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 30em){
  .bannercontent h1{
    font-size: 1.5em;
  }
  .bannercontent img{
    margin: -1em 1em -7em 4em;
  }
}

@media only screen and (min-width: 35em){

  .about{
    float: left;
    width: 50%;
    height: 420px;
    background-size: 80px auto;
  }
  .bannercontent h1{
    font-size: 2.5em;
  }
  .bannercontent img{
    margin: 0em 1em -12em 9em;
  }
  .about h2{
    margin-bottom: 0.5em;
  }
  .about p{
    padding: 1em;
    font-size: 1.1em;
  }
  .portfolio{
    float: left;
    width: 50%;
    height: 420px;
    background-size: 80px auto;
  }
.contact{
  clear: both;
  background-size: 80px auto;
}
}
@media only screen and (min-width: 50em){

  .bannercontent h1{
    font-size: 4em;
  }
  .bannercontent img{
    margin: -1em 1em -20em 8em;
  }
  .about{
    float: left;
    width: 33.33%;
    height: 500px;
    background-size: 100px auto;
  }
  .about h2{
    margin-top: 1.5em;
    font-size: 2em;
  }
  .portfolio h2{
    margin-top: 1.5em;
    font-size: 2em;
  }
  .contact h2{
    margin-top: 1.5em;
    font-size: 2em;
  }
  .portfolio{
    float: left;
    width: 33.33%;
    height: 500px;
    background-size: 100px auto;
  }
  .contact{
    float: left;
    width: 33.33%;
    height: 500px;
    clear: none;
    margin: 0;
    background-size: 100px auto;
  }
  .contact p{
    font-size: 1.5em;
  }
  .socialmedia{
    width: 23%;
    margin-top: 2em;
  }
  footer{
    clear: both;
  }

}
@media print{
  header{
    display: none;
  }
  main a::after {
    content: " (" attr(href) ") ";
    display: inline-block;
  }
  footer{
    display: none;
  }
  .socialmedia{
    display: none;
  }
  .pepsi{
    width: 30%
  }
  .tealumbrella{
    width: 30%;
  }
  a href{
    max-width: 50px;
  }
  h2 p{
    text-align: left;
  }
}
