@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after{
  box-sizing: inherit;
}
body{
font-family: 'Lato', sans-serif;
margin: 0 auto;
}
.about{
  background-color: #ef8c93;
  padding: 1em;
  color: #7c2f3c;
  text-align: center;
}
.portfolio{
  padding: 1em;
  color: #3a3a51;
  text-align: center;
}
.contact{
  background-color: #9fd2d5;
  padding: 1em;
  color: #0089a1;
  text-align: center;
}
footer{
  background-color: #0089a1;
  padding: 1em;
}
